spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nexttutor_dev
    username: postgres
    password: postgres
    
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.cuongpt.nexttutor: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
